</div>
<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">DailyJourn<span></span></h5>
                        <p>Share your daily journals here </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Quick Links<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a href="/create">Get Started</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="/home">Home</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="/issues">Journals</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="/about">About</a></div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Get Started<span></span></h5>
                        <p>Write your first daily journal</p>
                        <a class="btn" href="/create">Click Here</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="widget no-box">
                        <h5 class="widget-title">Contact Us<span></span></h5>
                        <p><a href="#">info@domain.com</a></p>
                        <ul class="social-footer2">
                            <li class="footer-icon"><a title="youtube" target="_blank" href="https://www.youtube.com/">
                                    <i class="fab fa-youtube"></i></a>
                            </li>
                            <li class="footer-icon"><a href="https://www.facebook.com/" target="_blank"
                                    title="Facebook"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li class="footer-icon"><a href="https://twitter.com" target="_blank" title="Twitter"><i
                                        class="fab fa-twitter"></i></a>
                            </li>
                            <li class="footer-icon"><a title="instagram" target="_blank"
                                    href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright DailyJourn © 2020. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>